# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

extern/build
extern/OnePasswordExtension
extern/OnePasswordExtension.xcodeproj/xcuserdata
extern/OnePasswordExtension.xcodeproj/project.xcworkspace/xcuserdata
Xamarin.iOS.OnePasswordExtension/Xamarin.iOS.OnePasswordExtension.*.nupkg
